<!DOCTYPE html>
<html lang="ru" style="background: #E5E5E5;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Вход</title>{% endblock %}
    {% load static %}
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/uikit.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>
</head>
<body>


        {% block content %}

        {% endblock %}


</body>
</html>